:root {
  --accent-color: #fd9222;
  --main-text-color: #111111;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.section-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/**------------ HEADER-------------- */

.header-logo {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-accent {
  font-style: italic;
}

.header-menu-link {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-color);
}

/* .header-menu-link:is(:hover, :focus) {
  color: var(--accent-color)
} */

/* .header-menu-link:focus {
  color: var(--accent-color)
} */

/**------------ HERO-------------- */

.hero {
  background-color: #48433c;
}
.hero-title {
  color: var(--secondary-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-btn {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 600;
}
.hero-down {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

/**------------ ADVANTAGES-------------- */

.advantages {
  background-color: #1e1823;
}

.advantages-list {
}

.advantages-item {
}

.advantages-subtitle {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
}
.advantages-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-family: Montserrat;
  letter-spacing: -0.02;
}
/**------------ TASTE-------------- */

.taste {
}
.taste-title {
}

.taste-text {
  color: var(--main-text-color);
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.taste-list {
}
.list {
}
.taste-item {
}
.taste-img {
}
.taste-subtitle {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.taste-subtitle.light {
  color: var(--secondary-text-color);
}

.taste-subtitle.dark {
  color: var(--main-title-color);
}

/**------------ MADE-------------- */

.made {
}
.made-title {
}

.made-head {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.made-list {
}

.made-item {
}
.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/**------------ LOVED-------------- */

.loved {
}
.loved-title {
}

.loved-list {
}
.list {
}
.loved-item {
}
.loved-subtitle {
  color: var(--main-text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: var(--main-text-color);
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
}

/**------------ FOOTER-------------- */

.footer {
  background-color: #1e1823;
}
.footer-main-text {
  color: var(--secondary-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-main-text span {
  color: var(--accent-color);
}
.footer-address-head {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}

.footer-address-item {
}
.footer-address-link {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-navigation {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
